Repository Fchery87/Alora: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx --bun eslint --fix, bunx --bun prettier --write

fix: apply code review fixes
  __tests__/convex/appointments.test.ts
  __tests__/convex/medications.test.ts
  __tests__/lib/security.test.ts
  __tests__/mocks/react-native/index.ts
  convex/functions/appointments/index.ts
  convex/functions/insights/index.ts
  convex/functions/journal/index.ts
  convex/functions/medications/index.ts
  convex/functions/wellness/index.ts
  lib/security.ts
Due: bunx --bun eslint --fix, bunx --bun prettier --write

chore: stabilize lint-staged and add CI
  .github/workflows/ci.yml
  .husky/pre-commit
  package.json
Due: bunx --bun prettier --write

fix: restore mutation user helper import
  convex/functions/insights/index.ts
Due: bunx --bun eslint --fix, bunx --bun prettier --write

feat: Add Bun support to the pre-commit hook and redesign the `Logo` component from "NanoBanana" to "Alora" with a new icon and color palette.
  components/Logo.tsx
Due: bunx --bun eslint --fix, bunx --bun prettier --write

feat: Add bun support and improved error handling to the pre-commit hook.
  .husky/pre-commit
Due: none

feat: Refactor journal screen to use an Expo Router stack layout, introduce structured navigation items to resources, and add `AGENTS.md`.
  AGENTS.md
  app/(tabs)/_layout.tsx
  app/(tabs)/journal/_layout.tsx
  app/(tabs)/partner-support.tsx
  app/(tabs)/resources.tsx
  stores/partnerNudgeStore.ts
Due: bunx --bun eslint --fix, bunx --bun prettier --write

fix(auth): improve Clerk key detection
  lib/clerk.tsx
Due: bunx --bun eslint --fix, bunx --bun prettier --write

fix(profile): apply Care Journal styling
  app/(tabs)/profile.tsx
Due: bunx --bun eslint --fix, bunx --bun prettier --write

fix(dashboard): wire stamp buttons to trackers
  components/organisms/Dashboard.tsx
Due: bunx --bun eslint --fix, bunx --bun prettier --write

test: stabilize vitest mocks and families handlers
  __tests__/convex/families.test.ts
  __tests__/mocks/convex-react.ts
  __tests__/mocks/expo-local-authentication.ts
  __tests__/mocks/expo-router.ts
  convex/functions/families/index.ts
  vitest.config.ts
Due: bunx --bun eslint --fix, bunx --bun prettier --write

fix(partner-support): correct partner nudge store typing
  stores/partnerNudgeStore.ts
Due: bunx --bun eslint --fix, bunx --bun prettier --write

chore(expo): upgrade to sdk 54
  __tests__/hooks/notifications/useNotificationReminders.test.ts
  __tests__/hooks/notifications/useNotifications.test.ts
  __tests__/mocks/testing-library-react-native.ts
  __tests__/setup.tsx
  app.config.js
  bun.lock
  docs/plans/2026-02-05-expo-sdk-54-upgrade.md
  package.json
Due: bunx --bun eslint --fix, bunx --bun prettier --write

fix: gate convex and push features on mobile
  hooks/usePushSync.ts
  lib/convex.ts
  lib/notifications.ts
Due: bunx --bun eslint --fix, bunx --bun prettier --write

feat: streamline Expo Go detection for push notifications and add unit tests.
  __tests__/lib/notifications.test.ts
  lib/notifications.ts
Due: bunx --bun eslint --fix, bunx --bun prettier --write

build(mobile): add ESLint/Prettier tooling and CI gate
  .github/workflows/ci.yml
  mobile/.prettierrc
  mobile/app.json
  mobile/eslint.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/powersync.d.ts
  mobile/tsconfig.json
Due: bunx --bun eslint --fix, bunx --bun prettier --write

feat(backend): pgTAP security suite, owner-first onboarding policy, rate-limited invite issue
  backend/README.md
  backend/functions/generate-invite/index.ts
  backend/functions/redeem-invite/index.ts
  backend/rls.sql
  backend/tests/00-mock-auth.sql
  backend/tests/01-rls-security.sql
  backend/tests/run-pgtap.sh
Due: bunx --bun eslint --fix, bunx --bun prettier --write

test(mobile): dual-adapter repository contract suite; wire real data + observability
  mobile/.env.example
  mobile/README.md
  mobile/__tests__/careEventStore.test.js
  mobile/__tests__/reminderSchedule.test.js
  mobile/__tests__/repository.test.js
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/checkin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/log.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/(tabs)/timeline.tsx
  mobile/app/_layout.tsx
  mobile/app/delete-account.tsx
  mobile/app/invite.tsx
  mobile/app/merge.tsx
  mobile/app/onboarding.tsx
  mobile/app/reminders.tsx
  mobile/app/trust.tsx
  mobile/components/AuthForm.tsx
  mobile/components/ErrorBoundary.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/ModalScreen.tsx
  mobile/components/Motion.tsx
  mobile/components/Reveal.tsx
  mobile/components/Themed.tsx
  mobile/components/icons.tsx
  mobile/config/mode.ts
  mobile/data/mock.ts
  mobile/data/mockRepository.ts
  mobile/data/repository.ts
  mobile/data/supabaseRepository.ts
  mobile/data/useData.ts
  mobile/lib/crashReporting.ts
  mobile/lib/notifications.ts
  mobile/lib/reminderSchedule.ts
  mobile/lib/useAuth.tsx
  mobile/powersync/schema.ts
  mobile/powersync/system.ts
  mobile/theme/ThemeProvider.tsx
Due: bunx --bun eslint --fix, bunx --bun prettier --write

docs(scratch): mark production-readiness implemented with verified acceptance criteria
  .scratch/alora-mvp/issues/01-app-shell-supabase-auth.md
  .scratch/alora-mvp/issues/02-local-first-pipeline-family-baby-setup.md
  .scratch/alora-mvp/issues/03-feed-logging-tracer.md
  .scratch/alora-mvp/issues/04-diaper-sleep-logging-durable-timers.md
  .scratch/alora-mvp/issues/05-handoff-dashboard-home.md
  .scratch/alora-mvp/issues/06-shared-timeline-edit-soft-delete.md
  .scratch/alora-mvp/issues/07-caregiver-invite-two-role-rls.md
  .scratch/alora-mvp/issues/08-split-by-case-conflict-handling.md
  .scratch/alora-mvp/issues/09-local-reminders-notifications.md
  .scratch/alora-mvp/issues/10-private-daily-checkin-per-user-bucket.md
  .scratch/alora-mvp/issues/11-privacy-trust-center-export-audit.md
  .scratch/alora-mvp/issues/12-account-deletion-transfer-then-scrub.md
  .scratch/production-readiness/PRD.md
  .scratch/production-readiness/issues/01-engineering-infrastructure.md
  .scratch/production-readiness/issues/02-backend-security-invite-flow.md
  .scratch/production-readiness/issues/03-live-data-path.md
  .scratch/production-readiness/issues/04-runtime-composition.md
  .scratch/production-readiness/issues/05-ui-hardening.md
  .scratch/production-readiness/issues/06-observability.md
Due: bunx --bun prettier --write

fix(mobile): don't crash in Expo Go — lazy-load expo-notifications
  mobile/app/reminders.tsx
  mobile/lib/notifications.ts
Due: bunx --bun eslint --fix, bunx --bun prettier --write

docs(scratch): chart launch-readiness wayfinder map + verified market research
  .scratch/launch-readiness/issues/01-competitor-feature-landscape.md
  .scratch/launch-readiness/issues/02-free-tier-infra-and-distribution.md
  .scratch/launch-readiness/issues/03-provision-backend-free-tier.md
  .scratch/launch-readiness/issues/04-beta-distribution-setup.md
  .scratch/launch-readiness/issues/05-beta-program-details.md
  .scratch/launch-readiness/issues/06-roadmap-prioritization.md
  .scratch/launch-readiness/issues/07-launch-readiness-scope.md
  .scratch/launch-readiness/map.md
  .scratch/launch-readiness/research/01-competitor-feature-landscape.md
  .scratch/launch-readiness/research/02-free-tier-infra-and-distribution.md
  docs/agents/issue-tracker.md
Due: bunx --bun prettier --write

docs(scratch): chart seat-limit configuration ticket per founder pushback
  .scratch/launch-readiness/issues/03-provision-backend-free-tier.md
  .scratch/launch-readiness/issues/08-seat-limit-configuration.md
  .scratch/launch-readiness/research/01-competitor-feature-landscape.md
Due: bunx --bun prettier --write

docs: resolve seat-limit decision — configurable family setting + scoped roles
  .scratch/launch-readiness/issues/08-seat-limit-configuration.md
  .scratch/launch-readiness/map.md
  CONTEXT.md
Due: bunx --bun prettier --write

docs(scratch): resolve roadmap prioritization — write v1.1 ROADMAP-PRD
  .scratch/launch-readiness/ROADMAP-PRD.md
  .scratch/launch-readiness/issues/06-roadmap-prioritization.md
  .scratch/launch-readiness/map.md
Due: bunx --bun prettier --write

feat: Phase A — configurable seat limit, scoped roles, sync-trust UX
  .scratch/launch-readiness/ROADMAP-PRD.md
  backend/functions/delete-account/index.ts
  backend/functions/generate-invite/index.ts
  backend/functions/redeem-invite/index.ts
  backend/rls.sql
  backend/schema.sql
  backend/tests/01-rls-security.sql
  backend/tests/run-pgtap.sh
  mobile/__tests__/repository.test.js
  mobile/app/(tabs)/settings.tsx
  mobile/app/invite.tsx
  mobile/app/seat-limit.tsx
  mobile/data/mockRepository.ts
  mobile/data/repository.ts
  mobile/data/supabaseRepository.ts
  mobile/data/useData.ts
Due: bunx --bun eslint --fix, bunx --bun prettier --write

feat: Phase B v1.1 — growth charts, pediatrician PDF, handoff briefing, trust positioning
  .scratch/launch-readiness/ROADMAP-PRD.md
  backend/schema.sql
  mobile/.env.example
  mobile/__tests__/growth.test.js
  mobile/__tests__/handoff.test.js
  mobile/__tests__/pediatricReport.test.js
  mobile/__tests__/repository.test.js
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/log.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/growth.tsx
  mobile/app/trust.tsx
  mobile/components/icons.tsx
  mobile/config/env.ts
  mobile/data/localBabySexStore.ts
  mobile/data/localHandoffStore.ts
  mobile/data/mock.ts
  mobile/data/mockRepository.ts
  mobile/data/repository.ts
  mobile/data/supabaseRepository.ts
  mobile/lib/growth/percentile.ts
  mobile/lib/growth/wholms.ts
  mobile/lib/handoff.ts
  mobile/lib/pediatricReport.ts
  mobile/package-lock.json
  mobile/package.json
Due: bunx --bun eslint --fix, bunx --bun prettier --write

docs(scratch): resolve beta program + launch scope; deliver provisioning & distribution checklists
  .scratch/launch-readiness/beta-operating-doc.md
  .scratch/launch-readiness/distribution-checklist.md
  .scratch/launch-readiness/issues/03-provision-backend-free-tier.md
  .scratch/launch-readiness/issues/04-beta-distribution-setup.md
  .scratch/launch-readiness/issues/05-beta-program-details.md
  .scratch/launch-readiness/issues/07-launch-readiness-scope.md
  .scratch/launch-readiness/launch-checklist.md
  .scratch/launch-readiness/map.md
  .scratch/launch-readiness/provisioning-checklist.md
  mobile/eas.json
Due: bunx --bun prettier --write

docs(scratch): close seat-limit ticket status (resolved)
  .scratch/launch-readiness/issues/08-seat-limit-configuration.md
Due: bunx --bun prettier --write

docs(scratch): draft privacy policy (agent draft, founder review + legal sign-off pending)
  .scratch/launch-readiness/privacy-policy-draft.md
Due: bunx --bun prettier --write

docs: add root README — project overview, feature status, architecture, security model, runbook pointers
  README.md
Due: bunx --bun prettier --write

docs: sync backend + mobile READMEs to current state
  backend/README.md
  mobile/README.md
Due: bunx --bun prettier --write

docs(handoff): add Alora AAA Warm Editorial design package
  alora_design_handoff/CHANGELOG.md
  alora_design_handoff/IMPLEMENTED_BEHAVIOR_CONTRACT.md
  alora_design_handoff/LLM_IMPLEMENTATION_PROMPT.md
  alora_design_handoff/README.md
  alora_design_handoff/RECONCILIATION_MATRIX.md
  alora_design_handoff/alora-theme.ts
  alora_design_handoff/assets-manifest.json
  alora_design_handoff/assets/brand/alora-sun-mark.svg
  alora_design_handoff/assets/illustrations/checkin-botanical.svg
  alora_design_handoff/assets/illustrations/invite-heart-shield.svg
  alora_design_handoff/assets/illustrations/moon-quiet-hours.svg
  alora_design_handoff/assets/illustrations/privacy-shield.svg
  alora_design_handoff/assets/reference/alora-aaa-design-board-16x9.png
  alora_design_handoff/assets/reference/brand-lifestyle.png
  alora_design_handoff/assets/reference/design-system-panel.png
  alora_design_handoff/assets/reference/principles-strip.png
  alora_design_handoff/assets/screens/check-in.png
  alora_design_handoff/assets/screens/home.png
  alora_design_handoff/assets/screens/invite-caregiver.png
  alora_design_handoff/assets/screens/log.png
  alora_design_handoff/assets/screens/quiet-hours.png
  alora_design_handoff/assets/screens/timeline.png
  alora_design_handoff/assets/screens/trust-privacy.png
  alora_design_handoff/content-contracts.json
  alora_design_handoff/design-tokens.json
  alora_design_handoff/design.md
  alora_design_handoff/screen-contracts.json
Due: bunx --bun eslint --fix, bunx --bun prettier --write

docs(handoff): add Phase 1 implementation audit
  alora_design_handoff/implementation-audit.md
Due: bunx --bun prettier --write

feat(theme): Warm Editorial foundations (Phase 2)
  alora_design_handoff/implementation-audit.md
  mobile/app/(tabs)/checkin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/log.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/(tabs)/timeline.tsx
  mobile/app/_layout.tsx
  mobile/app/growth.tsx
  mobile/app/onboarding.tsx
  mobile/components/AuthForm.tsx
  mobile/components/ErrorBoundary.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/Reveal.tsx
  mobile/components/Themed.tsx
  mobile/components/buttons.tsx
  mobile/components/icons.tsx
  mobile/package-lock.json
  mobile/package.json
  mobile/theme/tokens.ts
Due: bunx --bun eslint --fix, bunx --bun prettier --write

feat(auth): Warm Editorial Sign In / Sign Up (Phase 3)
  mobile/components/AuthForm.tsx
  mobile/eslint.config.js
Due: bunx --bun eslint --fix, bunx --bun prettier --write

feat(screens): Warm Editorial Onboarding, Home, Log, Timeline, Check-In
  mobile/app/(tabs)/checkin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/log.tsx
  mobile/app/(tabs)/timeline.tsx
  mobile/app/onboarding.tsx
  mobile/components/icons.tsx
Due: bunx --bun eslint --fix, bunx --bun prettier --write

feat(screens): Warm Editorial Settings, Seat Limit, Invite, Reminders, Trust, Growth, Merge, Delete
  mobile/app/(tabs)/settings.tsx
  mobile/app/delete-account.tsx
  mobile/app/growth.tsx
  mobile/app/invite.tsx
  mobile/app/merge.tsx
  mobile/app/reminders.tsx
  mobile/app/seat-limit.tsx
  mobile/app/trust.tsx
Due: bunx --bun eslint --fix, bunx --bun prettier --write

feat(motion): reduce-motion support + tokenized motion sweep
  mobile/app/delete-account.tsx
  mobile/app/merge.tsx
  mobile/app/onboarding.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/Motion.tsx
  mobile/components/Reveal.tsx
  mobile/components/Themed.tsx
  mobile/components/usePrefersReducedMotion.ts
Due: bunx --bun eslint --fix, bunx --bun prettier --write

Path conditions:
  bunx --bun eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  bunx --bun prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md})
