Repository Fchery87/Alora: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run --passWithNoTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "vitest related --run --passWithNoTests"
  ],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

chore: update dependencies to latest compatible versions
  .eslintrc.js
  .gitignore
  assets/favicon.png
  babel.config.js
  bun.lock
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

fix: resolve package compatibility and configuration issues
  app/_layout.tsx
  babel.config.js
  bun.lock
  config/tamagui.config.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

fix: remove components option from tamagui babel plugin
  .tamagui/tamagui.config.json
Due: prettier --write

docs: mark all initialization tasks as complete in plan document
  docs/plans/2026-01-19-project-initialization.md
Due: prettier --write

chore: update .gitignore for Expo + Tamagui + Bun stack
  .gitignore
Due: none

chore: ignore .worktrees
  .gitignore
Due: none

feat: implement all missing features (Phases 1-5)
  app/(tabs)/_layout.tsx
  app/(tabs)/partner-support.tsx
  app/(tabs)/resources.tsx
  app/(tabs)/settings/appearance/index.tsx
  app/(tabs)/settings/notifications/index.tsx
  app/(tabs)/settings/privacy/index.tsx
  app/(tabs)/settings/profile/index.tsx
  app/(tabs)/sounds.tsx
  components/organisms/CalendarView.tsx
  components/organisms/forms/AppointmentForm.tsx
  components/organisms/forms/MedicationForm.tsx
  components/organisms/forms/index.ts
  convex/functions/appointments/index.ts
  convex/functions/medications/index.ts
  convex/schema.ts
  docs/plans/2026-01-23-missing-features-implementation.md
  hooks/queries/index.ts
  hooks/queries/useAppointments.ts
  hooks/queries/useMedications.ts
  lib/partner-support.ts
  lib/resources.ts
  lib/sounds.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

fix(components/hooks): resolve critical app-breaking bugs and React hook dependency issues
  components/atoms/LoadingButton.tsx
  components/atoms/Toast.tsx
  hooks/notifications/useNotificationReminders.ts
  hooks/useBaby.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

fix(ts): resolve TypeScript compilation errors
  components/atoms/Toast.tsx
  hooks/useBaby.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

feat(security): implement webhook signature verification and add auth to milestones
  bun.lock
  convex/functions/milestones/index.ts
  convex/functions/webhooks/clerk.ts
  package.json
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

feat(security): add authentication to reminders, appointments, medications, and families
  convex/functions/appointments/index.ts
  convex/functions/families/index.ts
  convex/functions/medications/index.ts
  convex/functions/reminders/index.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

feat(security): remove auth bypass and migrate session lock to SecureStore
  app/index.tsx
  lib/auth-bypass.ts
  lib/session-lock.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

chore: update Convex generated files
  convex/_generated/api.js
  convex/_generated/server.js
Due: eslint --fix, prettier --write

feat(auth): add user sync and auth wireup
  __tests__/convex/users.test.ts
  convex/lib/users.ts
  docs/plans/2026-01-20-auth-wireup.md
  package.json
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

feat(security): implement authentication and remove unauthenticated mutations
  app/(auth)/login.tsx
  app/(auth)/register.tsx
  app/(tabs)/settings/_layout.tsx
  app/(tabs)/settings/appearance.tsx
  app/(tabs)/settings/notifications.tsx
  app/(tabs)/settings/privacy.tsx
  app/(tabs)/settings/profile.tsx
  app/(tabs)/wellness.tsx
  app/_layout.tsx
  app/splash.tsx
  babel.config.js
  components/atoms/Animated.tsx
  components/atoms/ModernHeader.tsx
  components/atoms/ModernTabBar.tsx
  components/atoms/MotiContainers.tsx
  components/atoms/MotiViewCompat.tsx
  components/organisms/ModernDashboard.tsx
  components/providers/ConvexProviderWrapper.tsx
  convex/auth.config.ts
  convex/functions/families/index.ts
  convex/functions/families/sync.ts
  convex/functions/milestones/index.ts
  convex/functions/reminders/index.ts
  convex/functions/users/index.ts
  convex/functions/users/sync.ts
  convex/lib/users.ts
  convex/test.txt
  lib/moti-types.ts
  lib/reanimated-web-shim.js
  stores/uiStore.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

fix: resolve TypeScript compilation errors
  components/atoms/MotiViewCompat.tsx
  convex/lib/users.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

fix: resolve convex/lib/users.ts merge corruption
  convex/lib/users.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

feat(week2): Sentry, data export, calendar, and EAS docs
  .env.example
  app/(tabs)/settings/index.tsx
  app/_layout.tsx
  bun.lock
  components/providers/ErrorBoundary.tsx
  convex/functions/users/index.ts
  docs/EAS_CONFIGURATION.md
  docs/SENTRY_INTEGRATION.md
  hooks/useDataExport.ts
  hooks/useSentry.ts
  lib/sentry.ts
  package.json
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

feat(week3): Data retention, session mgmt, docs, and polish
  CHANGELOG.md
  WEEK2_IMPLEMENTATION_SUMMARY.md
  app/(auth)/onboarding.tsx
  app/(auth)/register.tsx
  app/(tabs)/calendar.tsx
  convex/functions/maintenance/index.ts
  convex/lib/retention.ts
  docs/API_DOCUMENTATION.md
  docs/DATA_RETENTION_POLICY.md
  hooks/useSessionManager.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

docs: Week 3 implementation summary
  WEEK3_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

deps: update packages and add security overrides
  bun.lock
  package.json
Due: prettier --write

deps: major dependency upgrades - Phase 1 & 2
  DEPENDENCY_UPDATE_SUMMARY.md
  MIGRATION_PLAN.md
  bun.lock
  components/ui/Button.tsx
  docs/DEPENDENCY_AUDIT_REPORT.md
  package.json
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

deps: massive framework upgrade - Expo SDK 52 + React Native 0.79
  bun.lock
  bun.lockb
  components/atoms/GlassCard.tsx
  components/atoms/GradientIcon.tsx
  components/organisms/forms/AppointmentForm.tsx
  components/providers/SecurityProvider.tsx
  hooks/useSessionManager.ts
  lib/notifications.ts
  lib/security.ts
  package.json
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

chore: add expo-dev-client for development builds
  bun.lockb
  package.json
Due: prettier --write

fix: resolve TypeScript errors in appointments and onboarding
  convex/_generated/api.js
  convex/_generated/server.js
  convex/functions/appointments/index.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

fix: resolve onboarding router type error
  app/(auth)/onboarding.tsx
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

fix: update eslint-config-expo and fix typescript-eslint configuration
  .eslintrc.js
  bun.lock
  package.json
Due: eslint --fix, prettier --write

fix: add loading screens and debug logging to fix blank screen issue
  app/_layout.tsx
  app/index.tsx
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

fix: resolve web bundling issues with reanimated and metro config
  lib/reanimated-web-shim.js
  metro.config.js
Due: eslint --fix, prettier --write

fix: configure babel and webpack for web compatibility
  babel.config.js
  webpack.config.js
Due: eslint --fix, prettier --write

fix: resolve web bundling error by fixing babel cache config and adding react-native-web
  babel.config.js
  bun.lockb
  package.json
Due: eslint --fix, prettier --write

fix(web): resolve Expo Router web bundling issue
  babel.config.js
  index.js
  package.json
  webpack.config.js
Due: eslint --fix, prettier --write

fix: resolve Expo Router layout conflict with specific require.context regex
  index.js
Due: eslint --fix, prettier --write

fix: add node resolver fallback for ESLint import resolution
  .eslintrc.js
  __tests__/setup.tsx
  app.config.js
  app/(tabs)/sounds.tsx
  bun.lock
  bun.lockb
  components/atoms/GlassCard.tsx
  components/atoms/Skeleton.tsx
  components/organisms/ActivityFeed.tsx
  components/organisms/Dashboard.tsx
  components/organisms/GrowthChart.tsx
  components/ui/Button.tsx
  convex/functions/appointments/index.ts
  convex/functions/webhooks/clerk.ts
  convex/lib/ratelimit.ts
  convex/lib/retention.ts
  hooks/useSessionManager.ts
  lib/growth.ts
Due: eslint --fix, prettier --write, vitest related --run --passWithNoTests

fix: remove eslint-import-resolver-typescript causing native binding errors
  .eslintrc.js
Due: eslint --fix, prettier --write
